* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.users {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.user {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 2px solid;
}

.user h2 {
    font-size: 16px;
}

.user p {
    font-size: 13px;
}